{% extends "layout_admin.html" %}
{% block midsection %}
    <h1>Post Dashboard</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts.items %}
                <tr>
                    <td>
                        <a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
                    </td>

                    <td>
                        <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    </td>
                    <td>{{ post.date_posted.strftime("%m-%d-%Y, %H:%M") }}</td>
                    <td>
                        <a role="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Remove Post" href="{{ url_for('admin.removepost', id=post.id) }}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-primary mb-4" href="{{ url_for(page_context, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for(page_context, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}
{% endblock midsection %}