{% extends "layout.html" %}
{% block topsection %}
    <section class="hero-section">
        <div class="row">
            <div class="col-md-8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="mt-md-4">
                                <div>
                                    <span class="text-white-50 ml-1">Welcome to </span>
                                </div>
                                <h2 class="text-black font-weight-normal mb-4 mt-3 hero-title">Projects by <br>Joseph Vitko</h2>
                                <p class="mb-4 font-16 text-white-50">
                                    This website is a showcase and hosting location for my personal projects.
                                </p>
                                <div class="text-center">
                                    <a href="{{ url_for('main.blog') }}" class="btn btn-block btn-success">My blog <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 offset-md-2">
                            <div class="text-center mt-4 mt-md-0">
                                <img src="static/images/illustration.svg" alt="" class="img-fluid hero-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mt-4">
                    <h4 class="text-center">Top Projects</h4>
                    <ul class="list-group ml-4 mr-4"><p class="text-muted text-center">Some of my highlights</p>
                        <li class="list-group-item list-group-item-light ml-4 mr-4 text-center"><a class="text-info" href="{{ url_for('weather_data.graph_dashboard') }}">Pi Weather</a></li>
                        <li class="list-group-item list-group-item-light ml-4 mr-4 text-center"><a class="text-info" href="https://www.congressionalappchallenge.us/19-fl16/">BudgetR</a></li>
                        <li class="list-group-item list-group-item-light ml-4 mr-4 text-center"><a class="text-info" href="https://devpost.com/software/grocery-grab">Grocery Grab</a></li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <h4 style="margin-bottom: 20px">Recent Updates</h4>
{% endblock topsection %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|truncate(250) }}</p>
          </div>
        </article>
    {% endfor %}
    <div class="text-center">
        <a href="{{ url_for('main.blog') }}" class="btn btn-info" style="margin-bottom: 20px">View More <i class="fas fa-arrow-right"></i></a>
    </div>
{% endblock content %}