{% extends "layout.html" %}
{% block content %}
    <canvas width="400" height="300" id="myChart"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script>
        var ctx = document.getElementById("myChart");

        var myChart = new Chart(ctx, {
          type: 'scatter',
          data: {
            datasets: [
                {
                label: '{{ title }}',
                data: {{ chart_data | tojson }},
                showLine: true,
                fill: false,
                radius: 0,
                borderColor: 'rgba(0, 200, 0, 1)',
                backgroundColor: 'rgba(0, 200, 0, 1)'
                },
            ]
          },
          options: {
            tooltips: {
              mode: 'index',
              intersect: false,
            },
            hover: {
              mode: 'nearest',
              intersect: true
            },
            scales: {
                xAxes: [{
                type: 'time',
                time: {
                  unit: 'hour'
                },
                scaleLabel: {
                display: true,
                labelString: 'Date'
                }
              }],
              yAxes: [{
                ticks: {
                  beginAtZero:false
                },
                scaleLabel: {
                display: true,
                labelString: '{{ unit }}'
                }
              }]

            },
          }
          });
    </script>
{% endblock content %}